@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

#btnTextBox,
#txt1,
#btn_delete {
    border-radius: 5px;
}

.btn {
    margin-left: 10px;
    color: azure;
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.btn_delete {
    background-color: red;
    padding-right: 20px;
}

.btn-primary {
    background-color: greenyellow;
}

.row_textbox {
    width: 100%;
    display: flex;
    margin: 10px;
}

.container-textbox {
    width: 50%;
}

.container-right {
    display: flex;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-right: 10px;
}

#txt1,
.textArea {
    width: 200px;
    margin-right: 10px;
    height: 50px;
    width: 90%;
}